<div class="dashboard-wrapper">
  <div class="dashboard-profile-card">
    <div class="dashboard-avatar">
      
    </div>
    <div class="dashboard-user-info">
      <div class="dashboard-user-name">
        
      </div>
      <div class="dashboard-user-data">
        <div class="dashboard-card-data">
          
        </div>
        <div class="dashboard-card-data">
          
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-body-card">
    <div class="dashboard-user-cocktail-card">
      <div class="cocktail-pic">
        
      </div>
      <div id="name-rating">
        
      </div>
      <div id="edit-delete">
        
      </div>
    </div>
  </div>
  <div class="dashboard-body-card">
    <div class="dashboard-favorite-card">
      <div class="cocktail-pic">
        
      </div>
      <div id="rating">
        
      </div>
    </div>
  </div>
</div>