<div class="container" id="home">
  <div class="home">
    <%= image_tag 'logo_main', id:"main_logo" %>
    <div class="home-buttons">
      <%= link_to cocktails_path do %>
        <button class="btn" type="button">Browse cocktails</button>
      <% end %>     
    </div>
  </div>
</div>