<div class="container">
  <div class="home">
    <%= image_tag 'mr_cocktail' %>
    <div class="home-buttons">
      <%= link_to cocktails_path do %>
        <button class="btn" type="button">Browse cocktails</button>
      <% end %>     
      <%= link_to new_cocktail_path do %>
        <button class="btn" type="button">Mix a new drink</button>
      <% end %>
    </div>
  </div>
</div>