<div class="container">
  <div class="home">
    <%= image_tag 'mr_cocktail' %>
    <div class="home-buttons">
      <button class="btn" type="button"><%= link_to "Browse cocktails", cocktails_path %></button>
      <button class="btn" type="button"><%= link_to "Mix a new drink!", new_cocktail_path %></button>
    </div>
  </div>
</div>