<div class="cocktails-wrapper">

  <div class="cocktails">
    
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <div class="cocktail-card">
          <%= link_to cocktail_path(cocktail) do %>
            <%= cl_image_tag cocktail.photo.key, class: "cocktail-image", width: 350, height: 450, crop: :fill %>
          <% end %>
          <span class="name"><%= cocktail.name %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
