<h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= Ingredient.find(dose.ingredient_id).name %>: <%= dose.description %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to the Bar', cocktails_path %>