@media (max-width: 768px) {
  .dashboard-wrapper {
    grid-template-columns: 1fr;
  }

  .dashboard-profile-card {
    flex-direction: row;
    align-items: center;
    width: 100%;
    img {
      margin-right: 20px;
    }
  }

  .dashboard-index-btn {
    margin-left: auto;
  }
}

@media (min-width: 769px) {
  .dashboard-wrapper {
    grid-template-columns: 15% 40% 40%;
  }
  
  .dashboard-index-btn {
  margin-top: auto;
  }
}

.dashboard-wrapper {
  display: grid;
  margin-top: 45px;
  margin-left: 10%;
  margin-right: 10%;
  grid-gap: 20px;
}

.dashboard-body {
  display: grid;
  width: 100%;
  grid-template-columns: 35% 65%;
}

.dashboard-user-data {
  display: flex;
  justify-content: space-around;
}

#edit-delete {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-right: 5px;
}

#name-rating {
  padding-top: 20px;
  p {
    margin: 0;
    text-align: left;
    padding-left: 10px;
  }
  .star-rating {
    color: gold;
  }
}

.icon {
  color: black;
  padding: 8px;
  font-size: 20px;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
} 

.cocktail-img-small {
  border-radius: 8px;
  padding: 4px;
}
