// Specific CSS for your home-page
body {
  height: 100vh;
}

#home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

#main_logo {
  margin-bottom: 20px;
}

.home-actions {
  display: flex;
}

.search {
  margin-right: 10px;
}