.btn {
  border-color: rgb(120,0,0);
  color: rgb(120,0,0);
  &:hover {
    border-color: white;
    color: white;
    background:rgb(120,0,0);
    text-decoration: none;
  }
}

#btn-to-index {
  margin-top: 20px;
}

#btn-form {
  width: 100%;
}