.cocktail-card {
  position: relative;
  border-radius: 5px; 
  a {
    z-index: 1;
    position: relative;
  }
}


.cocktail-image {
  height: 450px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid rgb(120, 0, 0);
  box-shadow: 2px 3px 6px rgba(120, 0, 0, .8);
  z-index: -1;
  position: relative;
}

.name {
  position: absolute;
  font-size: 20px;
  bottom: 8px;
  right: 16px;
  color: white;
  font-weight: bold;
  z-index: 2;
}