.form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
}

#log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}