.form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  height: 80vh;
}

.devise-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-form {
  text-align: left;
}