.navbar {
  justify-content: space-between;
  background: white;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;  display: flex;
  flex-direction: row;
  padding: 16px;
  margin: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  height: 70px;
  width: 70px;
}