// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: white;
  text-align: center;
  padding-top: 70px;
}

.cocktails-wrapper {
  margin: 45px 60px 0 60px;
}

.cocktails {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 50px;
}
