// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard-wrapper {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
}

.dashboard-body {
  display: grid;
  width: 100%;
  grid-template-columns: 35% 65%;
}

.dashboard-favorites-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.dashboard-user-data {
  display: flex;
  justify-content: space-around;
}

#name-rating #edit-delete {
  display: flex;
  flex-direction: column;
}